body {
 align-content: center;
 text-align: center;
    /* background-color: hotpink; */    
}

fieldset {

    margin: 10px;
}

input {
    margin: 1px;
}



table {
    width: 200px;
    height: 300px;
    text-align: center;
    border: 5px solid green;
   }
   th, td {
    border: 1px solid red;
   }
   td:hover {
    background-color: lightcoral;
    color: white;
   }



/* nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2d3ba;
   }
   li {
    float: left;
    border-right: 1px solid #bbb;
   }
   li:last-child {
    border-right: none;
   }
   li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }
   li a:hover:not(.active) {
    background-color: #40bb81;
   }
   .active {
    background-color: #000000;

   }